@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* globals.css */

.dark {
  background-color: black; /* Ganti warna latar belakang sesuai kebutuhan */
  color: white; /* Ganti warna teks sesuai kebutuhan */
}


